.caja1{
    width: 100px;
    height: 40px;
    background: yellow;
    margin-bottom: 10px;
    padding: 10px;
    box-sizing: border-box;
    display: inline-block;
    margin-right: 15px;

}

.caja2{
    width: 35px;
    height: 40px;
    background-color: #FF0033;
    margin-bottom: 10px;
    padding: 10px;
    box-sizing: border-box;
    display: inline-block;
    margin-right: 15px;
}

.caja3{
    width: 170px;
    height: 40px;
    background: yellow;
    margin-bottom: 10px;
    padding: 10px;
    box-sizing: border-box;
    display: inline-block;
    margin-right: 15px;
}
